@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Rock+Salt&display=swap');

:root {
    --heading-font: Rock Salt;
    --paragraph-font: Inter Tight, Helvetica, sans-serif;
    }
#content {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
}
#logo_link {
    padding-top: 5px
}
.logo {
    display: block;
    width: 80px;
    padding-bottom: 40px;
}

#background {
    height: 725px;
    background-color: #4a8483;
    margin-top: 60px;
}
body {
    font-family: var(--paragraph-font);
    font-size: 22px;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
}
header {
    font-family: var(--heading-font);
    text-align: left;
    margin: 0 auto;
    background-color: #c65cff;
}
nav a {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 35px;
    margin-top: 10px;
    
}
nav a:hover {
    text-align: left;
    color: #4e00f4;
    background-color: #a600fe;
}
#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
}
.home-title {
    font-family: var(--heading-font);
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    color: black;

}
.button-box {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.book, .join {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    color: black;
    background-color: #47e000;
    text-decoration: none;
    width: 90px; 
    padding: 15px 30px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    color: white;
    background-color: #f40008;
    text-decoration: none;
    width: 150px; 
    padding: 15px 30px;
    border-radius: 5px;
}
main section {
    display: inline;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
main section img {
    box-sizing: border-box;
    margin-top: 50px;
}
.home-grid {
    display: block;
}
.card-img {
    display: inline-block;
    width: 500px;
    text-align: center;
    border: 10px solid #4a8483;
    margin-top: 50px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.icon {
    display: inline-block;
    width: 80px;    
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
}
.mountains {
    display:block;
    margin-top: 50px;
    margin-bottom: 100px;

}
.msg {
    display: block;
    line-height: 1.5em;
    font-size: .8em;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #c65cff;
}
h2 {
    text-align: center;
    margin: 0;
    padding-top: 15px;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
.msg h2, p, a{
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: #c65cff;
}   
.msg h2 {
    font-family: var(--heading-font);
}  
footer {
    background-color: #c65cff;
    padding: 25px 50px;
    margin-top: 200px;
}
h4 {
    text-align: left;
    margin: 0 auto;
    color: #192e9b;
}
footer h3 {
    text-align: left;
    margin: 0 auto;
    color: #4e00f4;
}
footer a {
    text-align: left;
    margin: 0 auto;
    color: #4e00f4;
    text-decoration: none;
}
footer a:hover {
    text-align: center;
    color: #dac30f;
}
footer p {
    text-align: left;
    font-size: 1.2em;
    color: #102214;
}
footer p a:hover {
    text-align: left;
    margin: 0 auto;
    text-decoration: underline;
}
.social {
    display: block;
    text-align: left;
}
footer .social img {
    padding-top: 15px;
}